<p style="background:black; padding:3px;" class="round"><%= link_to("<< Back to Menu", {:controller => 'access', :action => 'menu'}, :class => 'back-link') %>
</p>


<h2><%= @page.name%></h2>
<% @page.sections.visible.sorted.each do |section| %>
	<div class="section">
		<% case section.content_type when 'HTML' %>
			<%= raw(sanitize(section.content, :tags => ['strong', 'em', 'a'])) %>
		<% when 'text' %>
			<p><%= section.content  %></p>
		<% when 'avatar' %>
		<p><%= section.content  %><br />
		<%= image_tag section.avatar.url(:medium) %>
		</p>
		<% end %>
					
		</div>
<% end %>	
		
