<%= link_to("<< Back to List", {:action => 'list', :page_id => @page.id}, :class => 'back-link') %>

<div class="section new">
	<h2>Edit Section</h2>
	
	<%= form_for(:section, :url => {:action => 'update', :id => @section.id, :page_id => @page.id, :html => { :multipart => true }}) do |f| %>
			
			<%= render(:partial => "form", :locals => {:f => f}) %>
			
		<div class="form-buttons">
			<%= f.file_field :avatar %>
			<%= submit_tag("Update") %>	
		</div>
		
	<% end %>
	