<%= link_to("<< Back to List", {:action => 'list', :page_id => @page.id}, :class => 'back-link') %>

<div class="section new">
	<h2>Show Section</h2>
	
		
		<table Summary="Section form fields">
				<tr>
				<th>Page ID</th>
				<td><%= @section.page_id %></td>
				</tr>
				<tr>
				<th>Name</th>
				<td><%= @section.name %></td>
				</tr>
		   		<tr>
					<th>Position</th>
					<td><%= @section.position %></td>
				</tr>
				<tr>
					<th>Visible</th>
					<td><%= @section.visible %></td>
				</tr>
				<%= image_tag('rails.png', :size => '50x64', :alt => "Rails logo") %>
				<%= image_tag @section.avatar.url %>
				<%= image_tag @section.avatar.url(:medium) %>
				<%= image_tag @section.avatar.url(:thumb) %>
		</table>
		
		
		
