<h2><%= @page.name%></h2>

<% @page.sections.visible.sorted.each do |section| %>
	<div class="section">
		<% case section.content_type when 'HTML' %>
			<%= raw(sanitize(section.content, :tags => ['strong', 'em', 'a'])) %>
		<% when 'text' %>
			<p><%= section.content %>
				<%= image_tag('rails.png', :size => '50x64', :alt => "Rails logo") %>
				<%= image_tag(@avatar) %>
				
				<%= render(:partial => "display") %>
				
			</p>
			
		<% end %>
					
		</div>
<% end %>	
		
